@model IEnumerable<SmartGuardPortalv1.Models.Track>

@{
    ViewBag.Title = "Index";
    
}

<b>@Html.ActionLink("Dashboard", "Modules", "Home") > Finding lost smartguard</b>

<br />
<br />
<p>
    Everyone loses something from time to time. If the unfortunate situation occurs that the Smartguard has been lost it doesn’t mean you have to buy a 

new one.

Just use this function to locate your Smartguard whenever you want. Press the “Locate my Smartguard” button down below to instantly come to know

where it is. When you are close to its location call your Smartguard to find it immediately.

If a stranger finds it in this situation he will be able to call one of your contact persons to inform about the incident.

</p>

<table>
    
@foreach (var item in Model) {
    string marker = item.TrackLat + "," + item.TrackLong;
    <tr>
        
        <td>
            
            Last known location outside home as of:
            <b>@item.timestamp</b> 
            
            <br />
            <a href="/Track/LocateOn">Locate my smartguard</a>
            <br />
            <a href="/Track/LocateOff">Smartguard found</a>
            
            <br />
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=@item.TrackLat,@item.TrackLong&zoom=16&size=600x300&maptype=roadmap
&markers=color:red%7Clabel:P%7C @marker&key=AIzaSyClGFiboSom1LT8N4QMT2TlbXXh4-TyFLI" />
        </td>
        
        <td>
            
        </td>
    </tr>
}

</table>
