@{
    string user = "administrator";
    if (Request.IsAuthenticated && Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("User"))
    {
        SmartGuardPortalv1.Models.UsersContext context = new SmartGuardPortalv1.Models.UsersContext();
        int userId = (int)WebSecurity.CurrentUserId;
        SmartGuardPortalv1.Models.UserProfile profile = context.UserProfiles.Find(userId);
        SmartGuardPortalv1.Models.UserInformation info = context.UserInfos.FirstOrDefault(m => m.fkUserId == userId);
        string title = "";
        if (info.FkTitle == 0)
        {
            title = "Mr.";
        }
        else if (info.FkTitle == 1)
        {
            title = "Mrs.";
        }
        else if (info.FkTitle == 2)
        {
            title = "Ms.";
        }
        user = title + " " + profile.FirstName + " " + profile.LastName + "!"; 
    }
    
}
<br /><br />


@if (Request.IsAuthenticated) {
    <text>
        Hello @Html.ActionLink(@user, "Profile", "Account")
        @*Html.ActionLink("profile", "Profile", "Account") *@
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">logout</a>
        }
    </text>
} 

@*
else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
*@