@model SmartGuardPortalv1.Models.Product

@{
    ViewBag.Title = "Delete";
}

<b>Dashboard > Shop > Delete</b>

<h3>Are you sure you want to delete product "@Model.ProductTitle"?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
