@{
    
}
<b> @Html.ActionLink("Main Menu", "Contact", "Home") > Contacts </b>
<br /><br />
@*Html.ActionLink("Home","Welcome","Home") > My Modules</b>*@

<div>

   
    <table width="100%">
    @{
        
        if(Roles.IsUserInRole("Contact"))
        {
            SmartGuardPortalv1.Models.UsersContext db = new SmartGuardPortalv1.Models.UsersContext();
        
            String contactEmail = db.UserProfiles.Find(WebSecurity.CurrentUserId).Email;
        
            foreach(SmartGuardPortalv1.Models.Contact contact in db.Contacts.Where(i => i.Email == contactEmail))
            {
                SmartGuardPortalv1.Models.UserProfile user = db.UserProfiles.Find(contact.fkUserId);
                SmartGuardPortalv1.Models.UserInformation info = db.UserInfos.Find(contact.fkUserId);
                <tr>
                    <td>
                        
                            <b> @user.FirstName @user.LastName </b>
                        <br />
                        
                        @user.Email
                        <br />
                        <br />
                        
                        

                    </td>
                    
                </tr>
                
            }
        
        }
    }
    </table>

</div>