@{
    ViewBag.Title = "My Modules";
}

<div align="left">
    
    <br />
    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("MY MODULES","Module", "Home") <br /> <br />
                MY CONTACT PERSONS <br /><br />
                MANUAL/FUNCTION OVERVIEW     <br /><br />
                CUSTOMER SUPPORT <br />
                
            </td>
            <td>
                
            </td>
            
        </tr>
        
    </table>

</div>