@{
    ViewBag.Title = "About";
}

@if (Roles.IsUserInRole("User"))
{
    <b> @Html.ActionLink("Dashboard", "Modules", "Home") > Communication </b>
}
else
{
    <b> @Html.ActionLink("Dashboard", "AllModules", "Home") > Communication </b>
}


<p>
    The Smartguard is not only an emergency device on your wrist, you can also call the ones who are close to you with it. 
To do so use its blue Communication button on the lower left of the screen. (Picture of Smartguard's display with C button highlighted) 
In this menu you can access the list of your Contact Persons and call their different numbers by clicking on them or saying “Call _____” if voice 
recognition is turned on. 
</p>

<p>
You can always turn voice recognition on and off by clicking shortly onto the communication button of your Smartguard. The Smartguard will then 
inform you if it is activated or not. In all emergency situations and during nighttimes voice recognition is always turned on to ensure the use of the 
Smartguard and therefore your safety.
</p>

<p>
Here you can edit your phone contacts and enter new numbers which the Smartguard will directly adapt in its Contact list. 
Furthermore you can see your call list on the watch itself and here in this menu under Call list:
</p>

@Html.ActionLink("Contacts", "Index", "Contact")


