@{
    ViewBag.Title = "My Modules";
}

<h2>Content Administrator Dashboard</h2>
<div align="left">
    
    <br />
    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("Manage Countries","Index", "Country") <br /> 
                @Html.ActionLink("Shop Content","Index", "Product") <br />
                @Html.ActionLink("Training Videos","Index", "Video") <br />
               
                
            </td>
            <td>
                
            </td>
            
        </tr>
        
    </table>

</div>