@{
    ViewBag.Title = "About";
}

<b>@Html.ActionLink("Back to Login page","Index", "Home")</b>

<p>You have successfully registered. Please check your email for your temporary password.</p>
<p>As a security measure, please replace your temporary password <a href="/Account/Manage">here</a>.</p>


