@model IEnumerable<SmartGuardPortalv1.Models.Fall>

@{
    ViewBag.Title = "Index";
    int userId = (int)WebSecurity.CurrentUserId;
}

@if(Roles.IsUserInRole("User"))
{
    <b>@Html.ActionLink("Dashboard", "Modules", "Home") > Emergency Alarm</b>
}
else
{
    <b>@Html.ActionLink("Dashboard", "AllModules", "Home") > Emergency Alarm</b>
}

<br />
<br />
<p>Any time you feel in need of external help (e.g. in case of burglary, an accident or health issues) you can press the red Emergency button on top of
your Smartguard`s display. The Smartguard then asks you to confirm the alarm. Voice recognition will be turned on so you can either delete your 
emergency signal by saying “All OK” or by pressing the green displayed “All OK button” or you can confirm the alarm by saying “Help” or pressing the 
red “Emergency button” again. If you do not answer, the Emergency protocol is initiated anyways. This means that a call is made by the Smartguard 
to the contact person with the highest rank (you can order your contact persons in the <a href="/Contact"><b>Contact Person </b></a> menu via drag&drop) that is available at
the time of the emergency. You can then talk to this person directly to communicate your situation.</p>

<p>
In every emergency situation it is possible for your contact persons to activate the Smartguard`s camera to check on you, to generate your GPS 
coordinates to send help where you really are and if you activated the <a href="/Home/Door"><b>Door Management Module</b></a> to open your door to grant access
for emergency services.</p>





