@{
    ViewBag.Title = "My Modules";
}

<br /><br />
<b>@Html.ActionLink("Home","Welcome","Home") > My Modules</b>
<div align="center">

    
    <br />
    <br />
    <b>FALL HISTORY</b>
    <br />

    <table>
        <tr>
            <td>DATE</td>
            <td>LOCATION</td>
            <td>CONTACTS NOTIFIED</td>
            <td>NOTIFICATION</td>
        </tr>
        <tr>
            <td>January 1, 2015</td>
            <td>House</td>
            <td>Brother</td>
            <td>Sms</td>
        </tr>
        <tr>
            <td>January 2, 2015</td>
            <td>Outside</td>
            <td>Friend 1</td>
            <td>Email</td>
        </tr>
    </table>

</div>