@{
    ViewBag.Title = "Home Page";
   
}

<div align="center">
    
    <table>
        <tr>
            <td>
                
            </td>
            
        </tr>
        <tr align="center">
            
        </tr>
    </table>

</div>