@{
    ViewBag.Title = "My Modules";
}
<br /><br />
<b>@Html.ActionLink("Home","Welcome","Home") > My Modules</b>
<div align="center">

    
    <br />
    <br />
    <table>
        <tr>
            <td>
                @Html.ActionLink("Fall Alarm","FallModule","Home") <br />
                EMERGENCY ALARM <br />
                DAY RHYTHM CONTROL <br />
                FINDING LOST SMARTGUARD <br />
                WEARING AND CHARGING CONTROL <br />
                COMMUNICATION <br />
                DAY RHYTHM CONTROL <br />
            </td>
            <td>
                HOME AREA ALARM <br />
                DOOR MANAGEMENT <br />
                MEMORY AND REMINDER <br />
                NAVIGATION <br />
                MEDICAL DATA MANAGEMENT <br />
                PERSONAL HEALTH RECORD <br />
                SERVICE AND UPDATES <br />
            </td>
            
        </tr>
        
    </table>

</div>