@{
    ViewBag.Title = "My Modules";
}

<b>Back > Training Videos</b>
<div align="left">
    
   
    <table>
        <tr>
            <td>
                
                
            </td>
            <td>
                
            </td>
            
        </tr>
        
    </table>

</div>